<app-header></app-header>
<div id="content">
  <div id="movies-container">
    <mat-card *ngFor="let movie of movieList.movies" class="movie-card">
      <mat-card-header>
        <mat-card-title>{{ movie.title }}</mat-card-title>
        <mat-card-subtitle>Directed by: {{ movie.director }}</mat-card-subtitle>
      </mat-card-header>
      <img
        src="{{ movie.imgPath }}"
        alt="{{ movie.title }}"
        style="margin-bottom: 50px"
      />
      <mat-card-actions style="display: flex; position: absolute; bottom: 0">
        <button mat-button (click)="goToGenreInfo(movie.genre)" color="primary">
          Genre
        </button>
        <button
          mat-button
          (click)="goToDirectorInfo(movie.director)"
          color="primary"
        >
          Director
        </button>
        <button mat-button (click)="goToMovieInfo(movie.title)" color="primary">
          Synopsis
        </button>
        <button
          *ngIf="!movie.favorite"
          mat-icon-button
          (click)="addFavoriteMovie(movie)"
        >
          <mat-icon>favorite_border</mat-icon>
        </button>
        <button
          *ngIf="movie.favorite"
          mat-icon-button
          (click)="removeFavoriteMovie(movie)"
        >
          <mat-icon [ngStyle]="{ color: 'red' }">favorite</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
