<app-header></app-header>
<div id="content">
  <mat-card id="user-info-container">
    <mat-card-header> User Proile </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field style="width: 100%">
          <mat-label>Username:</mat-label>
          <input
            matInput
            [(ngModel)]="user.username"
            placeholder="Username"
            type="text"
            name="Username"
            required
          />
        </mat-form-field>

        <mat-form-field style="width: 100%">
          <mat-label>Email:</mat-label>
          <input
            matInput
            [(ngModel)]="user.eMail"
            placeholder="Email"
            type="email"
            name="Email"
            required
          />
        </mat-form-field>

        <mat-form-field style="width: 100%">
          <mat-label>Birthday:</mat-label>
          <input
            matInput
            [(ngModel)]="user.birthday"
            placeholder="Birthday"
            type="date"
            name="Birthday"
            required
          />
        </mat-form-field>

        <mat-form-field style="width: 100%">
          <mat-label>Password:</mat-label>
          <input
            matInput
            [(ngModel)]="password"
            placeholder="Password"
            type="password"
            name="Password"
            required
          />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions
      style="display: flex; flex-direction: column; align-items: start"
    >
      <button
        mat-raised-button
        (click)="updateUser()"
        color="primary"
        style="margin-bottom: 10px"
      >
        Save
      </button>
      <button mat-raised-button (click)="deleteUser()" color="primary">
        Delete Account
      </button>
    </mat-card-actions>
  </mat-card>

  <h2>Favorites</h2>

  <div id="movies-container">
    <mat-card *ngFor="let movie of favoriteList.movies" class="movie-card">
      <mat-card-header>
        <mat-card-title>{{ movie.title }}</mat-card-title>
        <mat-card-subtitle>Directed by: {{ movie.director }}</mat-card-subtitle>
      </mat-card-header>
      <img
        src="{{ movie.imgPath }}"
        alt="{{ movie.title }}"
        style="margin-bottom: 50px"
      />
      <mat-card-actions style="display: flex; position: absolute; bottom: 0">
        <button mat-button (click)="goToGenreInfo(movie.genre)" color="primary">
          Genre
        </button>
        <button
          mat-button
          (click)="goToDirectorInfo(movie.director)"
          color="primary"
        >
          Director
        </button>
        <button mat-button (click)="goToMovieInfo(movie.title)" color="primary">
          Synopsis
        </button>

        <button
          mat-icon-button
          (click)="addFavoriteMovie(movie)"
          *ngIf="!movie.favorite"
        >
          <mat-icon>favorite_border</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="removeFavoriteMovie(movie)"
          *ngIf="movie.favorite"
        >
          <mat-icon [ngStyle]="{ color: 'red' }">favorite</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
